<form class="uggh">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</form>


<div id="map-canvas">
</div>

<div class="sidebar">
  <div class="home-picture">
    <img src="http://placekitten.com/g/400/301">
  </div>
  <div class="address-row">
    <div class="address">
      <h2>4428 Evanston Ave N</h2>
      <h3>Seattle, WA 98103</h3>
      <h4>2 beds 1 bath 1,770 sqft</h4>
    </div>
    <div class="bid-now-button">
      Bid Now!
    </div>
    <div class="buy-now-button">
        Buy Now!
    </div>
  </div>

  <div class="house-details">
    <div class="property-details">
      <div class="sale">
        <h2>For Sale</h2>
        <h3>Listed Price: $700,000</h3>
        <h4>Zestimate®: $601,887</h4>
        <h4>Est. Mortgage:$2,533/mo</h4>
      </div>
      <div class="facts">
        <ul>
          <li>Walk Score: <span id="walk"></span></li>
          <li>Lot: 3,920 sqft</li>
          <li>Single Family</li>
          <li>2 Bedroom, 1.5 Bath</li>
          <li>Built in 1916</li>
          <li>Less than 1 day on Zillow</li>
          <li>Price/sqft: $395</li>
          <li>MLS #: 886049</li>
        </ul>
      </div>
    </div>
    <div class="property-details">
      <div class="description">
        <h3>Description:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="property-details">
      <div class="facts2">
        <ul>
          <h4>Additional Features</h4>
          <li>High School: Roosevelt</li>
          <li>Finished Basement</li>
          <li>Close to Transit</li>
          <li>Attached Garage</li>
          <li>Garage</li>
        </ul>
      </div>
      <!-- <div class="facts2">
        <ul>
          <h4>Features</h4>
          <li>Walk Score: 96</li>
          <li>Lot: 3,920 sqft</li>
          <li>Single Family</li>
          <li>2 Bedroom, 1.5 Bath</li>
          <li>Built in 1916</li>
          <li>Less than 1 day on Zillow</li>
          <li>Price/sqft: $395</li>
          <li>MLS #: 886049</li>
        </ul>
      </div> -->
    </div>
    <div class="property-details">
      <div class="facts2">
        <img src="http://placekitten.com/g/400/301">
        <img src="http://placekitten.com/g/400/301">
        <img src="http://placekitten.com/g/400/301">
        <img src="http://placekitten.com/g/400/301">
      </div>

    </div>
  </div>
</div>
