<form class="uggh">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</form>


<div id="map-canvas">
</div>

<div class="sidebar">
  <div class="home-picture">
    <img class="image" >
  </div>
  <div class="address-row">
    <div class="address">
      <h2><span class="street"></span></h2>
      <h3><span class="city"></span>,<span class="state"></span> <span class="zip"></span></h3>
      <h4><span class="bedrooms"></span> bed <span class="bath"></span> bath <span class="sqft"></span> sqft</h4>
    </div>
    <div class="bid-now-button">
      Bid Now!
    </div>
    <div class="buy-now-button">
        Buy Now!
    </div>
  </div>

  <div class="house-details">
    <div class="property-details">
      <div class="sale">
        <h2>For Sale</h2>
        <h3>Zestimate®: $<span class="zestimate"></span></h3>
        <h4>Rent Zestimate: <span class="rent"></span></h4>
        <h4>Est. Mortgage:$2,533/mo</h4>
      </div>
      <div class="facts">
        <ul>
          <li>Walk Score: <span class="walk"></span></li>
          <li>Lot: <span class="lotsqft"></span> sqft</li>
          <li><span class="type"></span></li>
          <li>Built: <span class="year"></span></li>
          <li>Neighborhood:<span class="neighborhood"></span> </li>
        </ul>
      </div>
    </div>
    <div class="property-details">
      <div class="description">
        <h3>Description:</h3>
        <p><span class="description"></span></p>
        <p class="auto-describe" style="display: none">
          This property is <span class="sqft"></span> sqft with a lot size of <span class="lotsqft"></span> sqft and was built in <span class="year"></span>. Located in the <span class="neighborhood"></span> neighborhood with a walk score of <span class="walk"></span>, it's most certainly a great place to live.
        </p>


      </div>
    </div>
    <div class="property-details">
      <div class="facts2">
        <ul>
          <li>Date last sold: <span class="sold-date"></span> </li>
          <li>Price last sold: $<span class="sold-price"></span></li>
        </ul>
      </div>
      <!-- <div class="facts2">
        <ul>
          <h4>Features</h4>
          <li>MLS #: 886049</li>
          <li>Lot: 3,920 sqft</li>
          <li>Single Family</li>
          <li>2 Bedroom, 1.5 Bath</li>
          <li>Built in 1916</li>
          <li>Less than 1 day on Zillow</li>
          <li>Price/sqft: $395</li>
          <li>MLS #: 886049</li>
        </ul>
      </div> -->
    </div>
    <div class="property-details">
      <div class="facts2">
        <img src="http://placekitten.com/g/400/301">
        <img src="http://placekitten.com/g/400/301">
        <img src="http://placekitten.com/g/400/301">
        <img src="http://placekitten.com/g/400/301">
      </div>

    </div>
  </div>
</div>
