.bid-form {
  display: none;
}

.form {
  display: none;
}

.styled {
  @include span-columns(8);
  clear: both;
  display: block;
  height: 25px;
  border: 1px black solid;
  margin-top: 5px;
}

.styled-bid-button {
  margin-top: 48px;

}
