body {
  margin: 0px;
}

#header {
  @include outer-container;
}

.wrap {
  background-color: #E4EFF2;
}

#header button:hover {
  background-color: tint($action-color, 40%);
}

#header button {
  border: 1px solid tint($action-color, 60%);
  text-shadow: 2px 1px tint($action-color, 60%);
  border-radius: 0px;
}

#header .nav a:hover {
  color: #fff;
}

#header ul {
  float: right;
}

#header li {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  float: right;
}

.site-footer img {
  vertical-align: middle;
}

.site-footer .center {
  text-align: center;
  padding-top: 20px;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
}

.page-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.site-footer, .page-wrap:after {
  height: 70px;
}

.site-footer {
  background: #E4EFF2;
}
.account-header {
  padding: 0 30px;
  text-align: center;
}

.account-details {
  @include span-columns(12);
  // background: #b9c5db;
  background: #E4EFF2;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}

.profile-details {
  @include span-columns(6);
  @include shift(4);
  display: block;
  padding: 15px;
}

.gravatar {
  float: left;
}

.user-details {
  float: left;
}

.user-list {
  list-style-type: none;
  margin-bottom: 10px;
}

.ul-user-details {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

// header responsiveness
@media (max-width: 608px) {

  #header {
    height: 70px;
  }

  #header button {
    margin-top: 20px;
    padding: 5px 2px;
    margin-right: 7px;
  }

  #header .nav a {
    padding: 0px;
  }

  #header .nav a:hover {
    padding: 0px;
  }

  #header img {
    @include span-columns(3);
  }

}

@media (min-width: 608px) {

  #header {
    height: 100px;
  }

  #header button {
    padding: 39px 0px 39px 0px;
  }

  #header .nav a {
    padding: 39px;
  }

  #header .nav a:hover {
    padding: 39px;
  }

}
