body {
  margin: 0px;
}

#header {
  @include span-columns(12);
  width: 100%;
}

.logo {
  @include span-columns(1);
}

.nav {
  @include span-columns(11);
  height: 30px;
}

.nav .left {
  @include span-columns(1);
  display: inline;
}

.nav .right {
  @include span-columns(1);
  display: inline;
  float: right;
}

#header .search {
  @include span-columns(11);
  height: 30px;
}

.site-footer img {
  vertical-align: middle;
}

.site-footer .center {
  text-align: center;
  padding-top: 40px;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.site-footer, .page-wrap:after {
  height: 100px;
}

.site-footer {
  background: #b9c5db;
}
.account-header {
  padding: 0 30px;
  text-align: center;
}

.account-details {
  @include span-columns(12);
  background: #b9c5db;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}

.profile-details {
  @include span-columns(6);
  @include shift(4);
  display: block;
  padding: 15px;
}

.gravatar {
  float: left;
}

.user-details {
  float: left;
}

.user-list {
  list-style-type: none;
  margin-bottom: 10px;
}

.ul-user-details {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}
