* { outline: 1px pink solid; }

.sign-in {
  @include outer-container;
  height: 600px;
  input { @include span-columns(4); }
}

.sign-in h1 {
  text-align: center;
  font-size: 35px;
}

.sign-in .sign-up {
  text-align: center;
  clear: both;
  font-weight: bold;
}

.sign-in input {
  float: none;
  margin: auto;
}

.sign-in input:last-child {
  margin: auto;
}
